# MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://22012842_db_user:NKxqsFtLLJb3EWRO@cluster.a0wc2wk.mongodb.net/userdb?retryWrites=true&w=majority&appName=Cluster

# Auth Service URL
AUTH_SERVICE_URL=http://auth-service:3001

# Service Port
PORT=3002

# Node Environment
NODE_ENV=production
